<div class="my-12 px-4 grid grid-cols-[1fr_minmax(15ch,65ch)_1fr]">
    <!-- <b class="bg-blue-200"></b> -->

    <div class="col-start-2 px-4 py-4 text-2xl font-semibold tracking-tighter bg-slate-200 select-none">
        Form caption
    </div>

    <div class="p-4 col-start-2 bg-slate-100 grid insert-area">


        <div class="mt-4 flex justify-end gap-x-2 select-none">
            <input class="px-4 py-2 hover:bg-slate-200 border-slate-500 border rounded active:scale-[.97] form-focus-element" type="button" value="OK">
            <input class="px-4 py-2 hover:bg-slate-200 border-slate-500 border rounded active:scale-[.97] form-focus-element" type="button" value="Cancel">
        </div>
    </div>

    <!-- <b class="bg-blue-200"></b> -->
</div>
