<div class="my-12 grid grid-cols-[1fr_minmax(15ch,65ch)_1fr] gap-y-2">
    <!-- <b class="bg-blue-200"></b> -->
    <div class="col-start-2">
        <label class="px-4 grid">
            <span>Input label
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate facere est, assumenda consequatur omnis sint esse exercitationem voluptatum id dolores tempore
                aliquam quod molestiae numquam ducimus suscipit eius architecto. Iste?
                Perspiciatis voluptatibus maiores ipsa ad hic eos dolorum quod necessitatibus et labore animi iste in aperiam atque deleniti minus quidem officiis sit suscipit
                molestias, ratione minima? Impedit perspiciatis beatae commodi.
                Mollitia, earum suscipit? Consequatur est enim possimus reiciendis aut alias voluptatum facilis, odit quaerat quo voluptas eligendi sunt eos quibusdam commodi
                suscipit, in, dolore perferendis placeat vitae! Fugit, odio natus?
                Esse sit ea architecto saepe possimus maxime, voluptatem provident ipsam eaque illo consequuntur aperiam, asperiores ipsa quasi debitis ratione? Perspiciatis soluta
                facilis omnis incidunt molestiae, cum nemo esse commodi similique!
                Eveniet cupiditate corporis sed perspiciatis doloremque temporibus ipsam explicabo dolorem beatae voluptatem iste at facilis incidunt sunt ratione, ullam odio,
                minus id quaerat? Architecto assumenda hic maiores natus delectus. Harum.
                Eos harum delectus vero veritatis. Mollitia dolorem rerum, ut maxime ea architecto, minus repudiandae vero, neque impedit eligendi numquam. Velit ut voluptatum
                earum praesentium hic aperiam natus fugit eius neque?
                Mollitia voluptate sapiente sit id numquam ab dolorem earum possimus accusamus culpa labore facere rerum, nam quia perspiciatis non, itaque optio eligendi est totam
                fuga? Quod ipsa non est quaerat.
                Labore magni tenetur, distinctio voluptatem id alias itaque non soluta. Magnam, quaerat praesentium rem eligendi ducimus eos velit sapiente quisquam, quo,
                repellendus hic consequuntur iste aut sint! Veniam, explicabo aliquid?
                Dolorem ducimus voluptatibus nisi eius, accusamus ab tempora? Sunt blanditiis optio culpa in qui nisi natus eaque praesentium at architecto, voluptatibus itaque
                soluta eveniet aliquid. Nesciunt expedita eos nihil voluptatum?
                Praesentium eveniet impedit quidem soluta qui, aut rem ut deleniti pariatur nulla adipisci? Rerum vitae quidem doloremque veniam quos, iste nobis, ea iusto at
                aliquam odio numquam! Quas, debitis! Excepturi.
                Ad voluptates obcaecati earum soluta sunt, beatae eum sed debitis ea harum velit porro minima. Nostrum, tempore officiis ducimus optio qui illum quae? Labore, minus
                placeat? Iure eaque necessitatibus minima.
                Ducimus error blanditiis maiores, cupiditate voluptatum aspernatur velit repellendus possimus hic praesentium animi laboriosam nesciunt! Ea quia dolorem possimus
                natus nobis corporis nihil repellendus incidunt quod quis facere, suscipit tempora?
                Odit, quo dolorem. Dolorem beatae quam pariatur officia, praesentium aliquam enim in quos porro modi, mollitia at. Beatae, ut saepe perferendis omnis laboriosam
                eius dolore ratione debitis fuga perspiciatis aut.
                Eos repellendus quidem veritatis nemo expedita fugiat perferendis quas maxime, nulla debitis nisi quam atque non tempora earum commodi quibusdam pariatur iste? Ad
                voluptas numquam quo recusandae in assumenda quibusdam!
                Dolore quidem, similique nihil aspernatur, minus assumenda placeat iusto deserunt magni, autem temporibus quis voluptatibus eos voluptas reprehenderit quia
                exercitationem. Tenetur, voluptatem iusto? Hic quo ex quod non ad ab.
                Excepturi velit reprehenderit ea animi labore, sit illum nemo ullam exercitationem rem fuga ab sunt. Iure voluptas sunt autem aliquam, veritatis magnam quasi
                ducimus, doloribus quam, nostrum optio debitis nisi.
                Esse fugit officiis expedita ab incidunt id laborum et, aut provident eligendi dicta odit sapiente quibusdam soluta animi quas atque necessitatibus, numquam aliquid
                repudiandae error dolorem natus ullam. Dignissimos, nostrum.
                Est veniam quidem soluta voluptas incidunt ab debitis praesentium! Voluptatum ut quis amet qui nobis voluptate? Aliquam magni esse maxime voluptatibus, quod ab
                alias quae velit itaque possimus mollitia? Nemo!
                Est, earum dignissimos rerum quam ad maxime neque, optio iure obcaecati, magni nulla delectus possimus quasi autem. Facere deleniti, beatae in possimus repellendus
                excepturi qui sit corporis adipisci et rem?
                Esse, repudiandae. Ex iure maxime praesentium dolorem aliquid corrupti quos ea animi sint libero aliquam iusto debitis exercitationem, quam, beatae enim voluptates
                expedita mollitia, laboriosam iste fuga atque accusamus dolore.
                Dolorum cupiditate autem, iste, similique eligendi animi ipsa possimus iusto assumenda, magni tempora. At, quam! Error, ad quis nemo voluptatum recusandae odio
                officia perspiciatis tempora. Officiis, quibusdam molestias! Deleniti, consequuntur.
                Voluptatibus provident ipsam, laudantium quia dolore perferendis enim magni assumenda velit illo commodi iusto ea aperiam cumque quam deleniti vero, sit, veniam
                reiciendis fugit. Laborum tempora atque saepe incidunt quas?
                Laboriosam nostrum magni asperiores eaque eius nam qui doloremque alias! Minima omnis alias perspiciatis distinctio, illum quia repudiandae fugit molestiae
                excepturi ut corrupti est. Harum voluptates autem fugiat dolorum quas.
                Suscipit id sit veniam, dolorum ullam minima nulla autem dolor rem labore, explicabo voluptates error est magnam odio et aspernatur perferendis officia. Aut hic
                fugit minus modi iste dicta sapiente.
                Magnam in voluptate sunt iure eligendi eum assumenda labore, consequatur vel similique voluptatem deserunt excepturi illo, debitis incidunt reprehenderit obcaecati
                architecto eaque aut? Quasi, vitae. Ipsam dolore assumenda ad. Dolor.
                Vel expedita consequatur iure iste et, cupiditate aliquid, veniam assumenda omnis amet veritatis quisquam recusandae exercitationem ea mollitia maiores laborum
                dolore praesentium soluta saepe. Nisi ducimus asperiores voluptate sint quos!
                Non molestiae voluptate similique cum tempore totam ipsum in quas. Inventore veritatis, expedita sapiente non odio, totam et, odit a vero necessitatibus iure cum
                assumenda cumque? Ullam libero quis necessitatibus?
                Sint similique quia, nihil tempore eligendi voluptates sunt corrupti quis voluptatem vel architecto nesciunt ipsa, harum ducimus mollitia obcaecati illum id quos
                ipsam omnis vero nulla neque? Ex, sequi neque?
                Molestias sint repellendus sit accusantium nesciunt vitae vero a, dolores laudantium eligendi cum mollitia aperiam recusandae repellat aliquam dolorum placeat
                consequuntur aliquid tenetur consequatur! Itaque velit temporibus nemo culpa consequuntur?
                Aut, accusantium eum. Praesentium temporibus saepe officiis quasi consequuntur veniam officia ea deleniti voluptate ipsa hic, odio culpa commodi suscipit quas
                magni. Corporis ea totam accusantium odit cupiditate sint possimus.
            </span>
            <input class="border-slate-400 border rounded-sm" type="text">
        </label>

        <label class="px-4 grid">
            <span>Input label</span>
            <input class="border-slate-400 border rounded-sm" type="text">
        </label>
    </div>
    <!-- <b class="bg-blue-200"></b> -->
</div>