<div class="my-12 grid grid-cols-[1fr_minmax(15ch,65ch)_1fr] gap-y-2">
    <!-- <b class="bg-blue-200"></b> -->

    <div class="col-start-2 grid gap-y-2">
        <label class="px-4 grid">
            <span>Input label</span>
            <input class="border-slate-500 border rounded-sm" type="text">
        </label>

        <label class="px-4 grid">
            <span>Input label</span>
            <input class="border-slate-500 border rounded-sm" type="text">
        </label>

        <label class="px-4">
            <input type="checkbox">
            <span>Are you sure?</span>
        </label>

        <div class="px-4">
            <input class="px-4 py-2 hover:bg-slate-100 border-slate-500 border rounded active:scale-[.97]" type="button" value="OK">
        </div>

    </div>

    <!-- <b class="bg-blue-200"></b> -->
</div>